/*Colores de la pagina*/
/*font-size*/
/*fuente de la pagina*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, .body-ajustable, .body-paginas {
  overflow-x: hidden;
  background-color: #cfe8ef;
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-rows: 7vh 86vh 7vh;
  grid-template-columns: 7.5vw 85vw 7.5vw;
  grid-template-areas: "header header header"
 "main main main"
 "footer footer footer"; }

.body-ajustable, .body-paginas {
  grid-template-areas: "header header header"
 ". main ."
 "footer footer footer"; }

.body-paginas {
  grid-template-rows: auto auto auto; }

nav {
  grid-area: header;
  background-color: #aed1e6;
  color: white;
  padding-bottom: 0;
  margin: 0; }
  nav .navbar-toggler {
    border: none; }
  nav .titulo-pagina {
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    color: white; }

/*enlaces del menu*/
.nav-item .nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  padding: 5px; }
  .nav-item .nav-link.active {
    color: #85c7de;
    font-weight: 400px; }

.nav-item:hover {
  transform: scale(1.1, 1); }

.offcanvas {
  background-color: #aed1e6; }

main, .main-ajustable {
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }

.main-ajustable {
  height: 100%; }

footer {
  grid-area: footer;
  background-color: #aed1e6;
  text-align: center;
  padding: 5px; }
  footer p {
    font-size: 1.20rem;
    color: white; }

/*CONTENEDOR DE ELEMENTOS DE BUSQUEDA*/
.cabecera-busqueda {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

/*CONTENEDOR DE BARRA DE BUSQUEDA*/
.barra-busqueda {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%; }
  .barra-busqueda .barra-busqueda-form {
    background-color: white;
    width: 70%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .barra-busqueda .barra-busqueda-form .caja-busqueda {
      width: 90%;
      border: none;
      border-radius: 25px; }
      .barra-busqueda .barra-busqueda-form .caja-busqueda:focus {
        border: none; }
      .barra-busqueda .barra-busqueda-form .caja-busqueda:active {
        border: none; }
    .barra-busqueda .barra-busqueda-form .btn-buscar {
      width: 10%;
      background-color: white;
      border: none;
      font-size: 1.5rem;
      border-radius: 25px;
      color: #a0c4e2; }
  .barra-busqueda .barra-btn-carrito {
    background-color: inherit;
    border: none;
    font-size: 1.5rem;
    width: 10%; }
    .barra-busqueda .barra-btn-carrito:hover {
      transform: scale(1.1, 1); }

.radio-inputs {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.25rem;
  width: 100%;
  height: 100px; }
  .radio-inputs .radio {
    border-radius: 100%;
    width: 100px;
    height: 100%;
    text-align: center; }
    .radio-inputs .radio input {
      display: none; }
    .radio-inputs .radio .name {
      background-color: #c6dbf0;
      font-family: "Pacifico", cursive;
      font-size: 1.5rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: 100%;
      width: 100%;
      border-radius: 100%;
      border: none;
      padding: .5rem 0;
      color: black;
      transition: all .15s ease-in-out; }
    .radio-inputs .radio:hover {
      transform: scale(1.1, 1); }
  .radio-inputs input:checked + .name {
    background-color: white;
    font-weight: 600; }

/*CONTENEDOR DE TIENDA*/
.contenedor-tienda {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.contenedor-titulo {
  text-align: center;
  border-bottom: white 2px solid;
  width: 100%;
  height: 4rem; 
  margin:1rem;
}
  .contenedor-titulo .titulo {
    font-size: 3rem;
    color: white;
    font-family: "Pacifico", cursive;
    animation-name: desplazamiento;
    animation-iteration-count: initial;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s; }

@keyframes desplazamiento {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

/*CONTENEDOR DE SECCION FAVORITOS*/
.tienda-seccion {
  margin: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center; }
  .tienda-seccion .contenedor-sabores-tienda {
    border-radius: 25px;
    background-color: white;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
  .tienda-seccion .sub-titulo {
    font-family: "Pacifico", cursive;
    font-size: 2.25rem;
    color: white; }

.sabor-item {
  margin-top: 1rem;
  background-color: #aed1e6;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 400px; }
  .sabor-item .sabor-item-img {
    width: 90%;
    height: 60%;
    border-radius: 25px; }
  .sabor-item .sabor-item-detalle {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .sabor-item .sabor-item-detalle h4 {
      color: white;
      font-family: "Raleway", sans-serif; }
  .sabor-item:hover {
    transform: scale(1.1, 1);
    margin: 0.5rem;
    border: 5px solid #85c7de; }

.detalle-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }
  .detalle-btns .boton-sabores {
    border: none;
    border-radius: 25px;
    color: #85c7de;
    width: 40%;
    background-color: white; }
    .detalle-btns .boton-sabores:hover {
      transform: scale(1.1, 1);
      margin: 0.5rem;
      border: 5px solid #85c7de; }

.card-img-top{
  width: 100%;
  height:50%;
}